:root {
    --color-lighter: #626262;
    --foreground: #171717;
    --background: #f0f8ff;

    --font: "Inter", Arial, Helvetica, sans-serif;
    --font-size: 1em;
}

body {
    font-family: var(--font);
    font-size: var(--font-size);
    font-optical-sizing: auto;
    font-style: normal;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--foreground);
    background-color: var(--background);

    margin: 0;
    padding: 0;
}

main {
    margin: 50px auto 0 auto;
    max-width: 750px;
    padding: 20px;
}

p {
    margin: 5px 0;
}

h2 {
    margin: 5px 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

/* --- */

.my-name {
    text-align: center;
    margin-top: 75px;
}

/* --- */

.heading-title {
    color: var(--color-lighter);
    margin: 10px 0;
}

.about-paragraph {
    margin-bottom: 15px;
}

/* --- */

.project-container {
    margin-left: 25px;
    margin-bottom: 20px;
}

.project-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.project-title__label {
    font-weight: normal;
    font-style: italic;
}

.project-description {
    margin-top: 0;
    color: var(--color-lighter);
}

/* --- */

.contact-list-element {
    line-height: 1.3;
}

/* --- */

.colourful-sandwich-container {
    margin-top: 25px;
    text-align: center;
}

.colourful-sandwich-container > img {
    height: 40px;
    width: 40px;
}

.colourful-sandwich-container > p {
    font-size: 0.8em;
}

.footer-text {
    text-align: center;
}

.footer-text > p {
    font-size: 0.9em;
}

.footer-my-name {
    font-size: 1em;
    font-weight: bold;
}
